default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\FeatureContext
                - behatch:context:json
                - behatch:context:rest
                - Behat\MinkExtension\Context\MinkContext
    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                environment: test
        Behatch\Extension: ~
        Behat\MinkExtension:
            sessions:
                default:
                    symfony: ~
        AdamQuaile\Behat\CommandRunnerExtension:
            beforeScenario:
                - { command: 'rm -rf var/cache/test' }
                - { command: 'php /var/www/bin/console d:d:d --force --if-exists' }
                - { command: 'php /var/www/bin/console d:d:c' }
                - { command: 'php /var/www/bin/console d:m:m --no-interaction' }